*, html {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 10px;
    font-family: Verdana, sans-serif;
    background-color: #486796;
    color: white;
    padding: 2%;
    text-align: center;
  }

  div img {
    width: 50px;
  }

  /* UV Index Colors */
  .low {
    background-color: #A9DFBF;
    color: white;
    border-radius: 7px 7px;
    width: fit-content;
  }
  
  .moderate {
    background-color: #F9E79F;
    color: white;
    border-radius: 7px 7px;
    width: fit-content;
  }
  
  .high {
    background-color: #E59866;
    color: white;
    border-radius: 7px 7px;
    width: fit-content;
  }
  
  .very-high {
    background-color: #CB4335;
    color: white;
    border-radius: 7px 7px;
    width: fit-content;
  }
  
  .extreme {
    background-color: #AA336A;
    color: white;
    border-radius: 7px 7px;
    width: fit-content;
  }
