* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
}

header {
    font-size: 20px;
    color: white;
    background-color: #B0C4DE;
    text-align: center;
    padding: 2%;
    border-bottom: 3px solid black;
}

h2 {
    font-size: 28px;
    padding-left: 2%;
}

h3 {
    font-size: 25px;
    padding-top: 2%;
    padding-left: 3%;
}

aside {
    float: left;
    padding: 1%;
}

input {
    padding: 4% 8%;
    margin: 5% 1%;
    border-radius: 9px 9px;
}

#text-box {
    font-size: 16pt;
}

button {
    padding: 3% 38%;
    margin-left: 1%;
    border-radius: 9px 9px;
    color: white;
    background-color: #B0C4DE;
    font-size: 18px;
    font-weight: bold;
}

section div {
    box-sizing: border-box;
    border: 2px solid black;
    width: 95%;
    padding-bottom: 25%;
}

#right {
    padding-left: 24%;
    padding-top: 3%;
}

#bottom {
    padding-left: 24%;
}
